<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <img src="images/CurrencyConversion.png">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form>
      <h2>Currency to get converted</h2>
      <h3>Amount </h3><input type="number" lang="amount">
      <h3>Currency </h3>
      <select id="ConvertFromCurrency">
      </select>
    </form>
  </body>
</html>
